<div class="form-group" id="forms">
    <hr/>
    <h2>Thumbnails</h2>
    <div id="buttons">
        <button class="btn btn-primary btn-disabled" type="button" id="show_form">+ Add image size</button>
        <button class="btn btn-primary btn-disabled" type="button" id="show_image_generator_form">Regenerate images
        </button>
    </div>
</div>
<div class="table-wrapper card">
    <h3>Network Posts Thumbnails Sizes</h3>
    <table class="table" id="sizes_table">
        <thead>
        <tr>
            <th>Size name</th>
            <th>Alias</th>
            <th>Width</th>
            <th>Height</th>
            <th>Crop</th>
            <th>Crop direction</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>