<div class="wrap">
    <table style="width:100%;">
        <tbody>
        <tr>
            <td colspan="2">
                <div id="icon-users" class="icon32"><br/></div>
                <h2>Network Posts Extended Help</h2>
                <hr/>
            </td>
        </tr>
        <tr>
            <td>
                <form method="post" action="options.php" id="netspostssettings">
                    <input type="hidden" name="_wpnonce" value="%nonce%"/>
                    <h3>Network Posts</h3>
                    <div>
                        <input type="checkbox" name="hide_all_readmore_links" id="hide_all_readmore_links"
                               value="1" %hide_all_readmore_links%/>
                        <label for="hide_all_readmore_links">Hide all 'read more' links</label>
                    </div>
                    <br/><br/>
                    <div>
                        <input type="checkbox" name="strip_blog_excerpt_tags" id="strip_blog_excerpt_tags"
                               value="1" %strip_excerpt_tags%/>
                        <label for="strip_blog_excerpt_tags">Strip excerpt tags</label>
                    </div>
                    <br/><br/>
                    <div>
                        <input type="checkbox" name="use_single_images_folder" id="use_single_images_folder"
                               value="1" %use_single_images_folder%/>
                        <label for="use_single_images_folder">Don't touch image url</label>
                    </div>
                    <br/><br/>
                    <div>
                        <input type="checkbox" name="use_compressed_images" id="use_compressed_images"
                               value="1" %use_compressed_images%/>
                        <label for="use_compressed_images">Use compressed images in thumbnails</label>
                    </div>
                    <br/><br/>
                    <div>
                        <input type="checkbox" name="load_plugin_styles" id="load_plugin_styles"
                               value="1" %load_plugin_styles%/>
                        <label for="load_plugin_styles">Load plugin styles</label>
                    </div>
                    <br/><br/>
                    Pages without "read more" links (Write titles of pages. Each title must ends with ";"
                    symbol):<br/>
                    <textarea style="width: 500px; height: 500px;"
                              name="hide_readmore_link_pages">%pages%</textarea>
                    <br/>
                    %options_form%
                    <input type="hidden" name="page_options" value="hide_all_readmore_links, use_single_images_folder, use_compressed_images, hide_readmore_link_pages, load_plugin_styles"/>
                    <input type="hidden" name="option_page" value="netsposts_page"/>
                    <input type="hidden" name="action" value="update"/>
                    <input type="submit" value="Save Changes" class="btn btn-success"/>
                </form>
                %resizer_table%
            </td>
            <td style="vertical-align:top;margin-left:100px;">
                If you like this plugin please donate:
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_donations">
                    <input type="hidden" name="business" value="john@johncardell.com">
                    <input type="hidden" name="lc" value="US">
                    <input type="hidden" name="item_name" value="Network Shared Posts">
                    <input type="hidden" name="no_note" value="0">
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
                           border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                         height="1">
                </form>
                <br/><br/>
                For a complete tutorial visit: <a href="https://agaveplugins.com/agave-plugin/multisite/network-posts-extended/" target="_blank">Network Posts Extended Tutorial</a><br/>
                Need professional help for your blog, plugin, or script? Try Freelancer:<br/><a
                    target='ejejcsingle' href='https://www.freelancer.com/affiliates/johnzenavw'
                    title='Higher a Freelancer at Freelancer.com'><img alt='Freelance Jobs at Freelancer.com'
                                                                       src='/wp-content/plugins/network-posts-extended/pictures/Freelancer-black.jpg'
                                                                       style='width:480px;height:auto;'
                                                                       class='img-hover'/></a><br/>
                For quality web hosting use <a href='https://www.siteground.com/index.htm?afcode=cc3f867fdb20885e15c2447f13fa22b2'
                                               title='Supreme Web Hosting'>SiteGround.com</a>:<br/><a href="https://siteground.com/web-hosting.htm?afimagecode=74e7a335335f7e8bbd1b0d563d80f322" target="_blank"><img border="0" alt="Ad - Web Hosting from SiteGround - Crafted for easy site management. Click to learn more." src="https://siteground.com/static/affiliate/en/NOPRICE/general_EN_general-hosting-leaderboard-light.jpg"></a><br/>
                <br/><br/>
            </td>
        </tr>
        </tbody>
    </table>
</div>